span{
    color: red;
}
body{
    background-image:url("hexagons_surface_shape_60020_2556x1509.jpg");
    color: green;
}
table{
    border-color: green;
}
a{
    color: blue;
}
h1{
    color: green;
}
